body{
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.display{
    background-color: black;
    border: 2px solid black;
    width: 30%;
    padding: 20px 35px 20px 20px;
    align-items: center;
    justify-content: center; 
    margin-top: 10%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.screen{
    background-color: white;
    margin: 10px 10px 10px 10px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    text-align: right;
    padding-top: 10px;
    font-size: 30px;
    font-family: 'Sans Comic Sans', sans-serif;

}
.userEntry{
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 30%;
    padding: 22px 37px 22px 22px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    
}
.numbers{
    width: 66%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
    
}
.number, .backSpace{
    margin: 15px;
    padding: 15px 0px;
    width: 20%;
}
.operations{
    width: 33%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.operator{
    padding: 15px 25px;
    margin: 10px;
    width: 100%;
}
/* From uiverse.io */
button {
    --glow-color: rgb(245, 243, 247);
    --glow-spread-color: rgba(145, 144, 147, 0.781);
    --enhanced-glow-color: rgb(245, 243, 247);
    --btn-color: rgba(145, 144, 147, 0.781);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }
   
   button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }